.navbar {
    background-color: #007bff;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}